.light {
  --md-sys-color-primary: rgb(43 89 60);
  --md-sys-color-surface-tint: rgb(58 104 74);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(80 127 95);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(80 99 84);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(215 236 217);
  --md-sys-color-on-secondary-container: rgb(61 79 65);
  --md-sys-color-tertiary: rgb(42 84 114);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(81 121 152);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(249 250 245);
  --md-sys-color-on-background: rgb(26 28 26);
  --md-sys-color-surface: rgb(249 250 245);
  --md-sys-color-on-surface: rgb(26 28 26);
  --md-sys-color-surface-variant: rgb(221 229 219);
  --md-sys-color-on-surface-variant: rgb(65 73 66);
  --md-sys-color-outline: rgb(113 121 113);
  --md-sys-color-outline-variant: rgb(193 201 192);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 46);
  --md-sys-color-inverse-on-surface: rgb(240 241 236);
  --md-sys-color-inverse-primary: rgb(160 210 173);
  --md-sys-color-primary-fixed: rgb(188 239 200);
  --md-sys-color-on-primary-fixed: rgb(0 33 15);
  --md-sys-color-primary-fixed-dim: rgb(160 210 173);
  --md-sys-color-on-primary-fixed-variant: rgb(34 79 51);
  --md-sys-color-secondary-fixed: rgb(211 232 213);
  --md-sys-color-on-secondary-fixed: rgb(14 31 20);
  --md-sys-color-secondary-fixed-dim: rgb(183 204 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 75 61);
  --md-sys-color-tertiary-fixed: rgb(202 230 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 30 48);
  --md-sys-color-tertiary-fixed-dim: rgb(163 203 238);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 74 104);
  --md-sys-color-surface-dim: rgb(217 218 214);
  --md-sys-color-surface-bright: rgb(249 250 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 244 239);
  --md-sys-color-surface-container: rgb(237 238 234);
  --md-sys-color-surface-container-high: rgb(231 233 228);
  --md-sys-color-surface-container-highest: rgb(226 227 222);
}
