<mat-dialog-content>
  <mat-card class="no-border">
    <mat-card-title>
      {{ 'CONTAINER_EDIT.TITLE' | translate }}
    </mat-card-title>
    <p>{{ 'CONTAINER_EDIT.DESCRIPTION' | translate }}</p>
    <mat-card-content>
      <div class="form-fields-container">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ 'CONTAINER_EDIT.MIN_TEMPERATURE' | translate }}</mat-label>
          <input matInput [(ngModel)]="data.minTemp">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ 'CONTAINER_EDIT.MAX_TEMPERATURE' | translate }}</mat-label>
          <input matInput [(ngModel)]="data.maxTemp">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ 'CONTAINER_EDIT.MIN_HUMIDITY' | translate }}</mat-label>
          <input matInput [(ngModel)]="data.minHumidity">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ 'CONTAINER_EDIT.MAX_HUMIDITY' | translate }}</mat-label>
          <input matInput [(ngModel)]="data.maxHumidity">
        </mat-form-field>
      </div>

      <div class="toggles-container">
          <div *ngFor="let gas of gases" class="gas-field">
              <div class="name-toggle">
                  <p>{{ gas.name }}</p>
                  <mat-slide-toggle [(ngModel)]="gas.enabled" (change)="toggleGas(gas)"></mat-slide-toggle>
              </div>

              <div *ngIf="gas.enabled" class="gas-inputs">
                  <mat-form-field appearance="outline" class="form-field">
                      <mat-label>{{ gas.name }} Min</mat-label>
                      <input matInput [(ngModel)]="gas.min" type="number" />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="form-field">
                      <mat-label>{{ gas.name }} Max</mat-label>
                      <input matInput [(ngModel)]="gas.max" type="number" />
                  </mat-form-field>
              </div>
          </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="button-container">
      <button mat-button (click)="close()">{{ 'CONTAINER_EDIT.CANCEL' | translate }}</button>
      <button mat-button (click)="saveChanges()">{{ 'CONTAINER_EDIT.SAVE' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>