.no-border {
  box-shadow: none;
  border: none;
  box-sizing: border-box;
}

.form-fields-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 1px
}

.form-field {
  flex: 1 1 calc(48%);
  min-width: 100px;
}

.toggles-container p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}

.name-toggle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.gas-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 8px;
  width: 100%;
}