/* Clase para la ruta activa */
.active-link {
    background-color: #5F7363;
}

.active-link .list-item-content {
    color: white;
}

/* Mantén el resto de tus estilos */
.sidenav-content {
    width: 250px;
    padding: 10px;
    font-family: Roboto, sans-serif;
}

mat-nav-list {
    margin-bottom: 16px;
}

.list-item-content {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: black;
}

mat-list-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.counter {
    background-color: white;
    color: green;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
}

mat-icon {
    margin-right: 8px;
}

mat-divider {
    margin: 8px 0;
    border-top-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
}