<form (submit)="registerOwner()">
  <div class="input-field">
    <label for="firstname">{{ 'FIRST_NAME' | translate }}</label>
    <input id="firstname" name="firstname" [(ngModel)]="user.firstName" type="text" required />
  </div>
  <div class="input-field">
    <label for="lastname">{{ 'LAST_NAME' | translate }}</label>
    <input id="lastname" name="lastname" [(ngModel)]="user.lastName" type="text" required />
  </div>
  <div class="input-field">
    <label for="username">{{ 'USERNAME' | translate }}</label>
    <input id="username" name="username" [(ngModel)]="user.username" type="text" required />
  </div>
  <div class="input-field">
    <label for="email">{{ 'EMAIL' | translate }}</label>
    <input id="email" name="email" [(ngModel)]="user.email" type="email" required />
  </div>
  <div class="input-field">
    <label for="password">{{ 'PASSWORD' | translate }}</label>
    <input id="password" name="password" [(ngModel)]="user.password" type="password" required />
  </div>
  <button class="register-button">{{ 'CONTINUE' | translate }}</button>
</form>