.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100vh; /* Ajusta la altura del contenedor principal para que ocupe toda la altura de la ventana */
  overflow: hidden; /* Evita el desplazamiento */
}

.left-charts,
.right-charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%; /* Ajusta la altura de las columnas */
}



.left-charts app-pie-chart-privileges,
.left-charts app-base-chart-status-container,
.right-charts app-bar-chart-workers-by-facility,
.right-charts app-bar-chart-containers-by-facility {
  width: 100%;
  height: calc(50% - 30px); /* Ajusta la altura de cada gráfico para que quepan en la columna */
}
