.sidenav-container {
  height: 100vh;
  background-color: #f9f9f9;
}

.sidenav {
  width: 500px;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.worker-details-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.worker-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  margin-bottom: -20px;
}

.breadcrumb {
  font-size: 14px;
  color: #757575;
  margin-bottom: -20px;
}

.details-section, .role-management-section {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

.details-section h2, .role-management-section h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.details-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.value {
  font-size: 14px;
  color: #333;
}

.role-management-button {
  font-weight: bold;
  margin-top: 10px;
}

.reassign-button {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
}

.role-management-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.role-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 8px 0;
  border-top: 1px solid #e0e0e0;
}

.role-toggle:first-of-type {
  border-top: none;
}

.mat-slide-toggle {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .sidenav {
    width: 100%;
  }
}
