.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px; /* Ajusta el espacio alrededor */
  border-bottom: 1px solid #e0e0e0; /* Línea debajo para separar visualmente */
}

.header-container h2 {
  margin: 0;
}
