<app-facility-details>
  <div class="header-container">
    <h2>{{ 'FACILITY_TAB.TITLE' | translate }}</h2>
    <button mat-flat-button color="primary" (click)="openCreateSidenav()">{{ 'FACILITY_TAB.CREATE' | translate }}</button>
  </div>

  <!-- Sidenav para creación de facilities que se comporta como el de details -->
  <mat-sidenav
    #createSidenav
    mode="over"
    [(opened)]="isCreatingFacility"
    class="sidenav"
    position="end"
  >
    <mat-icon class="close" (click)="closeCreateSidenav()">arrow_back</mat-icon>
    <app-create-facility (facilityCreated)="onFacilityCreated()"></app-create-facility>
  </mat-sidenav>

  <!-- Contenido principal -->
  <div class="card-container">
    <app-facility-items [facilityItems]="allFacilities" (facilitySelected)="showFacilityDetails($event)"></app-facility-items>
  </div>
</app-facility-details>