<div class="card-container">
    <mat-card *ngFor="let container of containerItems" (click)="openContainerSidenav(container.id)" class="container-card">
        <mat-card-header>
            <h3>{{ container.name }}</h3>
        </mat-card-header>
        <mat-card-content>
            <p>{{ container.lastKnownContainerStatus }}</p>

            <!-- Sección de Temperatura y Humedad -->
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Temperature icon" fontIcon="thermostat_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_ITEM.TEMPERATURE' | translate }}</span>
                </div>
                <span>{{ container.temperature != null ? (container.temperature | number: digitInfo)  + ' °C' : 'not yet' }}</span>
            </div>
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Humidity icon" fontIcon="water_drop_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_ITEM.HUMIDITY' | translate }}</span>
                </div>
                <span>{{ container.humidity != null ? (container.humidity | number: digitInfo) + ' %' : 'not yet' }}</span>
            </div>
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Oxygen icon" fontIcon="air_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_ITEM.OXYGEN' | translate }}</span>
                </div>
                <span>{{ container.oxygen != null ? (container.oxygen | number: digitInfo) + ' %' : 'not yet' }}</span>
            </div>
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Carbon Dioxide icon" fontIcon="cloud_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_ITEM.CARBON_DIOXIDE' | translate }}</span>
                </div>
                <span>{{ container.dioxide != null ? (container.dioxide | number: digitInfo) + ' %' : 'not yet' }}</span>
            </div>
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Ethylene icon" fontIcon="eco_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_ITEM.ETHYLENE' | translate }}</span>
                </div>
                <span>{{ container.ethylene != null ? (container.ethylene | number: digitInfo) + ' ppm' : 'not yet' }}</span>
            </div>
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Ammonia icon" fontIcon="science_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_ITEM.AMMONIA' | translate }}</span>
                </div>
                <span>{{ container.ammonia != null ? (container.ammonia | number: digitInfo) + ' ppm' : 'not yet' }}</span>
            </div>
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Sulfur_dioxide icon" fontIcon="warning_amber_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_DETAILS.SULFUR_DIOXIDE' | translate }}</span>
                </div>
                <span>{{ container.sulfurDioxide != null ? (container.sulfurDioxide | number: digitInfo) + ' ppm' : 'not yet' }}</span>
            </div>
            <div class="content">
                <div class="tag">
                    <mat-icon aria-hidden="false" aria-label="Example last sync" fontIcon="sync_outlined"></mat-icon>
                    <span>{{ 'CONTAINER_ITEM.LAST_SYNC' | translate }}</span>
                </div>
                <span>{{ this.getLastSync(container) }}</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>