.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px; /* Espacio entre las cards */
  padding: 16px;
}

.container-card {
  margin: 10px;
  padding: 15px;
  border: 2px solid #c6c6c6;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border: 1px solid #C4C7C1;
}

.container-card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.tag {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gases-section {
  margin-top: 10px;
}

.gas {
  display: flex;
  justify-content: space-between;
}


.divider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0;
}
