<form (submit)="registerWorker()">
  <div class="input-field">
    <label for="firstname">{{ 'REGISTERWORKER.FIRSTNAME' | translate }}</label>
    <input id="firstname" name="firstname" [(ngModel)]="user.firstName" type="text" required />
  </div>
  <div class="input-field">
    <label for="lastname">{{ 'REGISTERWORKER.LASTNAME' | translate }}</label>
    <input id="lastname" name="lastname" [(ngModel)]="user.lastName" type="text" required />
  </div>
  <div class="input-field">
    <label for="username">{{ 'REGISTERWORKER.USERNAME' | translate }}</label>
    <input id="username" name="username" [(ngModel)]="user.username" type="text" required />
  </div>
  <div class="input-field">
    <label for="email">{{ 'REGISTERWORKER.EMAIL' | translate }}</label>
    <input id="email" name="email" [(ngModel)]="user.email" type="email" required />
  </div>
  <div class="input-field">
    <label for="password">{{ 'REGISTERWORKER.PASSWORD' | translate }}</label>
    <input id="password" name="password" [(ngModel)]="user.password" type="password" required />
  </div>
  <button class="register-button">{{ 'REGISTERWORKER.REGISTER' | translate }}</button>
</form>