<div>
  <h2>{{ 'FACILITY_CREATE.TITLE' | translate }}</h2>
  <mat-button-toggle-group formControlName="facilityType">
    <mat-button-toggle [value]="0">{{ 'FACILITY_CREATE.FACILITY_TYPE.RESTAURANT' | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="1">{{ 'FACILITY_CREATE.FACILITY_TYPE.WAREHOUSE' | translate }}</mat-button-toggle>
  </mat-button-toggle-group>

  <form [formGroup]="createFacilityForm" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <mat-form-field>
        <mat-label>{{ 'FACILITY_CREATE.FORM.FACILITY_NAME' | translate }}</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div formGroupName="location">
      <mat-form-field>
        <mat-label>{{ 'FACILITY_CREATE.FORM.CITY' | translate }}</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'FACILITY_CREATE.FORM.REGION' | translate }}</mat-label>
        <input matInput formControlName="state">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'FACILITY_CREATE.FORM.COUNTRY' | translate }}</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'FACILITY_CREATE.FORM.ADDRESS' | translate }}</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>
    </div>

    <div class="button-group">
      <button mat-button type="button" (click)="cancel()">{{ 'FACILITY_CREATE.BUTTONS.CANCEL' | translate }}</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="createFacilityForm.invalid">{{ 'FACILITY_CREATE.BUTTONS.SAVE' | translate }}</button>
    </div>
  </form>
</div>