<h2 mat-dialog-title>{{'USER_INFORMATION_ITEM.CHANGE_PASSWORD' | translate}}</h2>
<div mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'USER_INFORMATION_ITEM.NEW_PASSWORD' | translate}}</mat-label>
        <input
                matInput
                type="password"
                [(ngModel)]="newPassword"
                placeholder="Enter new password"
        />
    </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onSave()">Save</button>
</div>

