<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="sidenav" position="end">
    <mat-icon class="close" (click)="sidenav.close()">arrow_back</mat-icon>
    <div *ngIf="facility">
      <div class="title">
        <h2>{{ facility.name }}</h2>
        <span>{{ getFacilityType() }}</span>
      </div>

      <!-- Containers Section -->
      <div class="container">
        <p><mat-icon class="material-icons-outlined">widgets</mat-icon> {{ 'FACILITY_DETAILS.CONTAINERS' | translate }}</p>
        <p>{{ facility.containerCount || 0 }}</p>
      </div>
      <button mat-button class="info-action" (click)="openAddContainerDialog()">{{ 'FACILITY_DETAILS.ADD_CONTAINERS' | translate }}</button>

      <!-- Workers Section -->
      <div class="container">
        <p><mat-icon class="material-icons-outlined">person</mat-icon> {{ 'FACILITY_DETAILS.WORKERS' | translate }}</p>
        <p>{{ facility.profileCount || 0 }}</p>
      </div>
      <button mat-button class="info-action" (click)="openAddWorkerDialog()">{{ 'FACILITY_DETAILS.ADD_WORKERS' | translate }}</button>

      <!-- Alerts Section -->
      <div class="container">
        <p><mat-icon class="material-icons-outlined">notifications</mat-icon> {{ 'FACILITY_DETAILS.ALERTS' | translate }}</p>
        <p>{{ facility.alerts || 0 }}</p>
      </div>
      <button mat-button class="info-action">{{ 'FACILITY_DETAILS.CHECK_ALERTS' | translate }}</button>

      <div class="container-button">
        <button mat-flat-button color="warn">{{ 'FACILITY_DETAILS.DELETE' | translate }}</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>