h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    padding: 32px 64px 0px 48px;
}

.account-container {
    background-color: #f9f6fb; /* Color de fondo */
    margin: auto;
}